{% extends 'admin_settings.html' %}
{% block main_content%}
<form id="password_reset" action="" method="post" novalidate>
    {{ form.hidden_tag()}}
    {{ form.password.label()}}
    {{ form.password() }}
    {% for error in form.password.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    <br />
    {{ form.new_password.label()}}
    {{ form.new_password() }}
    {% for error in form.new_password.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    <br />
    {{ form.new_password2.label()}}
    {{ form.new_password2() }}
    {% for error in form.new_password2.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    <br />
    {{ form.save() }}
</form>
{% endblock %}